 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    
}
header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: bottom right;
    /* border: 5px solid red; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
nav ul li{
    margin-right: 50px;
    text-align: center;
}
nav > h1{
    color: var(--dark-01, #181818);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav h1 > span{
    color: #FD6E0A;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.button{
    color: var(--white-color, #FFF);
    /* font-size: 1.25px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 15px, 35px;
    height: 3rem;
    width: 5rem;
}

/* Banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    /* max-width: 500px; */
    /* border: 5px solid red; */
    
}

.banner_text{
    max-height:600px ;
}
.banner_text > h6{
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
}
.banner_text > h1{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* padding: 5px 20px 0px 0px; */
}
.banner_text > p{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 166.667% */
    padding: 20px 20px 10px 0px;
}


.banner_image img{
    width: 500px;
    /* max-width: 300px; */
   
}



.b_button{
    color: var(--white-color, #FFF);
    /* font-size: 1.25px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 65px, 55px;
    height: 50px;
    width: 100px;
    font-size: 10px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

.section_title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section_description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;

}

.info_container{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.info_title{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
.info_description{
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

}


.skills_container{
    display: flex;
    padding: 30px;
    gap: 20px;

}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills img{
    width: 44px;
    height: 44px;
    padding: 15px;

}
.skill_title{
    color: #181818;
    /* text-align: center; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 0px;


}
.skill_description{
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}
/* Resume */
.r_section{
    padding: 50px 0px 20px 0px;
}
.r_section h1{
    padding: 130px 0px;
}
.resume{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.resume_container{
    padding: 50px 0px 0px 0px;
}

.education_container h3{
    color:  #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.education_container h2{
    color:  #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    padding: 30px 0 10px 0px;
}
.education_title{
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 10px;
}
.education_description{
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 0px;
        
}
footer{
    display: flex;
    justify-content: space-around;
    background: #FFF8F3;
    padding: 130px 200px;


}

.massage{
    display: grid;
    gap: 20px;
}
.connect ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    

}

.massage input{
    display: block;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}


.massage textarea{
    display: block;
    padding: 18px 0px 0px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    
    
}
/* Responsive */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        
        
    }
    nav ul li{
        margin-right: 50px;
        padding: 10px;
        
    }
    .banner{
        flex-direction: column;
    }
    .banner_text > h6{
        color: var(--dark-02, #474747);
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      
    }
    .banner_text > h1{
        font-size: 50px;   
        text-align: left;
    }
    .banner_image img{
        width: 300px;
    }
    .info_container{
        flex-direction: column;
    }
    .about_info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .skills_container{
        flex-direction: column;
    }
    .resume{
        flex-direction: column;
        padding: 10px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    .massage{
        margin-top: 15px;
    }
}
